{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}
    <script src="/assets/pupload/plupload.full.min.js"></script>
    <script>
        var uploader = new plupload.Uploader({
            runtimes : 'html5',
            browse_button : 'upload',
            url : '/upload',
            filters : {
                max_file_size : '100mb'
            },
            init: {
                FilesAdded: function(up, files) {
                    uploader.start();
                    $("#progress").show();
                    $("#home_index_div_dialog").empty();
                },
                UploadProgress: function(up, file) {
                    console.log(file);
                    $("#progress_bar").css({width: file.percent + "%"});
                },
                Error: function(up, err) {
                    $("#progress").hide();
                    $.alert({
                        ctx: $("#home_index_div_dialog"),
                        msg: err.message,
                        style: 'warning',
                        autoclose: false
                    });
                },
                FileUploaded: function(up, file, info) {
                    var res = JSON.parse(info.response);
                    console.log(res);
                    if (res.status == 0) {
                        window.open(location.origin + "/do-import/" + res.save);
                        setTimeout(function(){
                            $("#progress").hide();
                            $.alert({
                                ctx: $("#home_index_div_dialog"),
                                msg: '上传成功',
                                style: 'success',
                                autoclose: false
                            });
                        }, 1000);
                    } else {
                        $("#progress").hide();
                        $.alert({
                            ctx: $("#home_index_div_dialog"),
                            msg: res.message,
                            style: 'warning',
                            autoclose: false
                        });
                    }
                }
            }
        });
        uploader.init();
    </script>
{% endblock javascripts %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
<pre>
数据格式:
    起始ip    终止ip    地址\r\n
例如:
    1.0.1.0         1.0.3.255       福建省 电信
    1.0.4.0         1.0.7.255       澳大利亚 墨尔本Big Red集团
    1.0.8.0         1.0.15.255      广东省 电信
    1.0.16.0        1.0.31.255      日本 东京I2Ts Inc
</pre>
            <div class="form-group">
                请上传UTF-8编码的文本文档
            </div>
            <button id="upload" class="btn btn-primary" type="button">
                上传
            </button>
            <hr>
            <div id="progress" class="progress" style="display: none;">
                <div id="progress_bar" class="progress-bar" style="width: 60%;"></div>
            </div>
            <div id="home_index_div_dialog"></div>
        </div>
    </div>
{% endblock content %}