{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}
    <script src="/assets/pupload/plupload.full.min.js"></script>
    <script>
        var uploader = new plupload.Uploader({
            runtimes : 'html5',
            browse_button : 'upload',
            url : '/upload',
            filters : {
                max_file_size : '100mb'
            },
            init: {
                FilesAdded: function(up, files) {
                    uploader.start();
                    $("#progress").show();
                    $("#home_index_div_dialog").empty();
                },
                UploadProgress: function(up, file) {
                    console.log(file);
                    $("#progress_bar").css({width: file.percent + "%"});

                },
                Error: function(up, err) {
                    $("#progress").hide();
                    $.alert({
                        ctx: $("#home_index_div_dialog"),
                        msg: err.message,
                        style: 'warning',
                        autoclose: false
                    });
                },
                FileUploaded: function(up, file, info) {
                    setTimeout(function(){
                        $("#progress").hide();
                    }, 1000);
                    console.log(up);
                    console.log(file);
                    console.log(info);
                }
            }
        });
        uploader.init();
    </script>
{% endblock javascripts %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <div class="form-group">
                请上传文件
            </div>
            <button id="upload" class="btn btn-primary" type="button">
                上传
            </button>
            <hr>
            <div id="progress" class="progress" style="display: none;">
                <div id="progress_bar" class="progress-bar" style="width: 60%;"></div>
            </div>
            <div id="home_index_div_dialog"></div>
        </div>
    </div>
{% endblock content %}